* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	background-color: #191919;
	color: #fff;
	font-family: Arial, sans-serif;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}


.title {
	font-size: 3em;
	margin-bottom: 0.5em;
    text-align: center;
}

.subtitle {
	font-size: 1.5em;
	margin-bottom: 2em;
    text-align: center;
}

@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}

.circles-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .circle {
    margin: 10px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #00ff88;
    animation-name: bounce;
    animation-duration: 1.5s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
  }
  
  .circle:nth-child(2) {
    animation-delay: 0.2s;
  }
  
  .circle:nth-child(3) {
    animation-delay: 0.4s;
  }
  
  @keyframes bounce {
    0%, 80%, 100% {
      transform: scale(0);
    }
    40% {
      transform: scale(1);
    }
  }